/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/desktop/wallpaper/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.wallpaper_img__SJ1L9 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/view/page.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_header__uIDNt {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(203, 222, 240, 0.911);
}
.page_header__uIDNt .page_user__PtaYA {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.page_header__uIDNt .page_user__PtaYA .page_menu__mAJ1I {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  height: 200px;
  width: 200px;
  background-color: rgba(203, 222, 240, 0.911);
  border-bottom-left-radius: 23px;
  border-top: 2pt solid rgb(232, 253, 255);
}
.page_header__uIDNt .page_user__PtaYA .page_menu__mAJ1I.page_active__yN0H_ {
  display: block;
}
.page_header__uIDNt button {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
}
.page_header__uIDNt button .page_icon__Q8_Sy {
  color: rgb(255, 255, 255);
  height: inherit;
  width: inherit;
}
.page_header__uIDNt button:hover .page_icon__Q8_Sy {
  color: rgb(235, 235, 235);
}

.page_main__w1YNe {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(64px, 1fr));
  grid-gap: 1px;
  gap: 1px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/desktop/topbar/btns/close/index.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.close_btn__ov_i9 {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.close_btn__ov_i9:hover .close_icon__LQ4XE {
  color: rgb(201, 0, 0);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/desktop/topbar/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.topbar_topbar__D5B68 {
  height: 32px;
  width: 100%;
  background-color: rgb(218, 226, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.topbar_topbar__D5B68 span {
  width: 100%;
  height: 100%;
}
.topbar_topbar__D5B68 .topbar_actions__okRe9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/desktop/application/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.application_app__YSxS_ {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.11);
  position: absolute;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/docks/dock/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dock_dock__466O8 {
  min-width: 300px;
  max-width: 100%;
  height: 64px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(203, 222, 240, 0.911);
  z-index: 1;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.281);
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/lib/components/docks/dockIcon/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dockIcon_article__zX7AB {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dockIcon_article__zX7AB .dockIcon_img__J5Vyq {
  height: 48px;
  width: 48px;
}
.dockIcon_article__zX7AB.dockIcon_active__NkfN5::before {
  content: "";
  height: 5px;
  width: 54px;
  border-radius: 5px;
  background-color: rgb(121, 121, 211);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n {
  display: none;
  position: absolute;
  bottom: 100%;
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(203, 222, 240, 0.911);
  padding: 10px;
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n .dockIcon_icon__s6eqc {
  pointer-events: none;
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n section h3 {
  color: #6d99ca;
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n section ul li {
  padding: 0 5px;
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n section ul li:hover {
  background-color: rgba(203, 222, 240, 0.911);
}
.dockIcon_article__zX7AB .dockIcon_menu__2G97n section ul li button * {
  color: #6d99ca;
}
